<div class="row">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-2">
      <div class="col-sm-12 pagination-page" >
          <a class="page-link disabled txt-select">
           Ítems por página
          </a>

        <select class="form-select"
                aria-label="Default select example"
                [(ngModel)]="_app.objCtrl.limitItemsPerPage"
                (ngModelChange)="emitEvent()">
          <option disabled>Items por pagina</option>
          <option *ngFor="let item of arrayItemsPerPage"
                  [value]="item">
                  {{ item}}
          </option>
        </select>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
      <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item btn-next" (click)="changePage(-1)">
          <a class="page-link">Anterior</a>
        </li>
        <li class="page-item disabled" aria-current="page">
          <a class="page-link" *ngIf="result && result.total">
            Página:  {{ _app.objCtrl.actualPage }} de {{ (result.total / _app.objCtrl.limitItemsPerPage) | number : '1.0-0' }}
          </a>
        </li>
        <li class="page-item btn-next" (click)="changePage(+1)">
          <a class="page-link">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
  </div>
</div>
