<nav class="navbar mercado-libre-color">
  <div class="container">
    <a class="navbar-brand w-100">
      <div class="flex">
        <div class="div-logo">
          <a href="/home">
            <img src="../../../../assets/ico/Logo_ML@2x.png.png"
            alt="Mercado libre"
            width="40"
            style="cursor: pointer;">
          </a>

        </div>
        <div class="div-search w-100" >
          <app-search-bar></app-search-bar>
        </div>
      </div>
    </a>
  </div>
</nav>
